@import "workshop.css";

.title{
  padding: 40px;
}

.a{
  top: 30%;
}

.main{
  text-align: center;
  padding: 0 15%;
  position: relative;
  width: 100%;
  margin: 40px 0 0 0 ;
  height: 60%;
  color: #fff;
  /* animation: wideL 1s; */
  display: flex;

}

.div-1{
  width: 50%;
  background-color: #ff9f00;
  transition: 1s;
  border-radius: 20px;
  margin: 0;
  margin-right: 30px;
  visibility: hidden;
  animation: wideR 1s 1s forwards;
}

.vr{
  position: relative;
  top: -5%;
  height: 110%;
  width: 2px;
  border-radius: 10px;
  background-color: black;
  animation: line 1s;

}


.div-2{
  width: 50%;
  margin: 0;
  margin-left: 30px;
  visibility: hidden;
  background-color: #ff3737;
  border-radius: 20px;
  animation: wideR 1s 1s forwards;


}
a{
  display: block;
  position: relative;
  color: #fff;
}

.content{
  position: relative;
}


a:hover{
  /* color: #ffcc22; */
  color: #fff;
  /* color: #0071bc; */
  /* color: #800040 */
  text-decoration: none;
}

a:hover span{
  color: #0071bc;
  color: #ffcc22;

}

span{
  font-size: 35px;

}

.img{
  width: 200px;
  height: 200px;
}

.text{
  font-size: 24px;
}

.events{
    padding: 4% 15%;
    /* padding-bottom: 0; */
}

.heading{
  font-size: 35px;
}

.hr{

  margin: 20px 0;
  height: 2px;
  background-color: lightblue;
  width: 100%;

}

.box{
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
  background-color: lightblue;
}

.for-str{
  background-color: #ff9f00;
}

.for-stu{
  background-color: #ff3737;
}

.name-of-event{
  font-size: 25px;
  text-align: center;
  padding-top: 25%;
  vertical-align: middle;
}


.box:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.evnt-logo{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.for-students{
  padding-top: 40px;
}



@keyframes line {
  from{
    height: 0;
  }
  to{
    height: 110%;
  }
}



@keyframes wideR {
  from{
    /* transform: translateX(30px); */
    /* opacity: 0; */
    /* width: 0; */
    /* width: 50%; */
    opacity: 0;

    height: 0 ;
  }
  to{
    opacity: 1;

    /* transform: translateX(0); */
    /* width: 50%; */
    height: 100%;
    visibility: visible;
  }
}

@keyframes wideL {
  0% {
    opacity: 0;
    width: 0;

    width: 0;
    /* transform: translateX(-30px); */
  }

  100% {
    opacity: 1;
    width: 50%;
    /* transform: translateX(0); */
    visibility: visible;
  }
}


@media screen and (max-width: 720px) {
  .title{
    font-size: 24px;
    padding: 40px;
  }

  .main{
    padding: 0 10%;
    margin: 0;
    margin-bottom: 40px;
    display: inline-block;
  }

  .vr{
    display: none;
  }

  .div-1{
    position: relative;
    visibility: visible;
    width: 100%;
    animation: none;
    margin: 0;
    height: 50%;
    animation: none;
  }

  .div-2{
    position: relative;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    visibility: visible;
    height: 50%;
    animation: none;
  }

  .a{
    top: 25%;
  }

  .img{
    width: 100px;
    height: 100px;
  }

  .text{
    font-size: 22px;
  }

  .events{
    text-align: center;
      padding: 0 10%;
  }
  .heading{
    font-size: 24px;
  }

  .box{
    min-width: 100px;
    height: 100px;
  }


  .name-of-event{
    font-size: 16px;
    padding-top: 25%;
  }

  .l1{

  }

  .l2{
    font-size: 20px;
    padding-top: 12%;
  }

}


@media screen and (max-width: 1200px) and (min-width: 720px){
  .title{
    font-size: 35px;
    padding: 40px;
  }

  .main{
    padding: 0 4%;
    margin-bottom: 6%;
  }

  .div-1{
    margin: 0;
    margin-right: 30px;
  }

  .div-2{
    margin: 0;
    margin-left: 30px;
  }

  .a{
    top: 25%;
  }

  /* .img{
    width: 100px;
    height: 100px;
  } */

  .text{
    /* font-size: 22px; */
  }

  .events{
    text-align: center;
    padding: 0 4%;
  }
  .heading{
    font-size: 30px;
  }

/* .name-of-event{
  font-size: 10px;
} */


}
