@import "events.css";

.title{
  padding: 40px;
}

.img-grid{
  padding: 0 15%;
}

.rowe {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

/* Create four equal columns that sits next to each other */
.columne {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columne img {
  border-radius: 10px 0 10px 0;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 720px) {
  .columne {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .img-grid{
    padding: 0 3%;
  }
}


@media screen and (max-width: 1200px) and (min-width:720px){

  .img-grid{
    padding: 0 3%;
  }

  .columne img {
    border-radius: 10px;
  }
}
